# EDA

In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
from etl.extract import data_from_summoner_name
summoner_name = "Oturam"
df = data_from_summoner_name(summoner_name, 2)
df.head()

,match_id,data_version,level,placement,puuid,Arcanist,Assassin,Bodyguard,Bruiser,Challenger,...,unit_8,tier_unit_0,tier_unit_1,tier_unit_2,tier_unit_3,tier_unit_4,tier_unit_5,tier_unit_6,tier_unit_7,tier_unit_8
0,BR1_2445087948,5,8,8,CYWXGzvpi2ggHY6AA7mq_zGwdtsvtKKlkU5PsEUC3reyNB...,4,NaN,NaN,4,4,...,NaN,1,2,2,2,1,1,1,NaN,NaN
1,BR1_2445087948,5,8,7,9sU_lfxN7AvK8tyRKdcKzG5gWzcHz9LHRXbOaTKJZneX-d...,NaN,3,4,NaN,NaN,...,NaN,2,1,2,1,2,2,1,1,NaN
2,BR1_2445087948,5,8,4,RNAOAfUbuqU9vMHgTkdvuom3IGDSPk8BR1H0jQzX8i4aFx...,NaN,NaN,4,NaN,NaN,...,NaN,3,3,3,3,3,2,1,1,NaN
3,BR1_2445087948,5,8,3,raFbU5PamnC1UkFnrzAfdd8OGI9LfK3ERzxAhRdv_EmtgB...,4,NaN,4,NaN,NaN,...,NaN,3,2,3,2,3,2,1,2,NaN
4,BR1_2445087948,5,8,6,YcQnR0ZG4xHnXP8B9LnwIwH1QYjxiNvrbm3x4b2Os89gzx...,4,NaN,4,4,4,...,NaN,2,2,2,3,3,2,1,NaN,NaN